{% extends 'layout.html' %}
{% block content %}
    {% for post in data %}

        <article class="post content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2 article-data" href="#">
                        {{ post.author }}
                        <p> {{ post.date_posted }}</p>
                    </a>

                    <h4>
                        <a class="article-title article-data" href="#">
                            {{ post.title }}
                        </a>
                        <p class="article-content">
                            {{ post.content }}
                        </p>
                    </h3>
                </div>
            </div>
        </article>

    {% endfor %}
{% endblock content %}